@font-face {
    font-family: 'titulo';
    src: url(../fonts/ARCADECLASSIC.TTF);
  }

  body{
    background-image: url(../img/background.png);
    overflow: hidden;
  }

  .juego{
    height: 40vw;
    width: 60vw;
  }

  .contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .titulo {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 7.5vw;
    font-family: 'titulo';
  }